<div class="container flex-column-layout">
  <h4>Model Settings</h4>
  <div class="form-group">
    <label for="modelSelect">Model:</label>
    <select class="form-control" id="modelSelect" [(ngModel)]="model" (ngModelChange)="onModelChange($event)">
      <option>gpt-4</option>
      <option>gpt-3.5-turbo</option>
      <option>gpt-3.5-turbo-0301</option>
    </select>
  </div>
  <div class="form-group">
    <label for="temperatureInput">Temperature:</label>
    {{temperature}} <input type="range" class="form-control-range" id="temperatureInput" min="0" max="2" step="0.01" [(ngModel)]="temperature" (ngModelChange)="onTemperatureChange($event)">
  </div>
  <div class="form-group">
    <label for="maxResponseLengthInput">Max Response Length:</label>
    <input type="number" class="form-control" id="maxResponseLengthInput" [(ngModel)]="maxResponseLength" (ngModelChange)="onMaxResponseLengthChange($event)">
  </div>
</div>
